[mysqld]
# Must be unique integer from 1-2^32
server-id = 1
log-bin=/var/lib/mysql/mysql-bin

# can be "STATEMENT" "ROW" "MIXED"
binlog_format="MIXED"

# Version 5.5.3 introduced "utf8mb4", which is recommended
# Replaces utf8_general_ci
collation-server = utf8mb4_general_ci

# Replaces utf8
character-set-server = utf8mb4

default-character-set = utf8mb4

#innodb_force_recovery = 1